
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySignatureLabel" data-translate="contractcloudApp.signature.home.createOrEditLabel">Create or edit a Signature</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.signature.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.signature.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="contractcloudApp.signature.signby" for="field_signby">Signby</label>
            <input type="text" class="form-control" name="signby" id="field_signby"
                    ng-model="vm.signature.signby"
                    required/>
            <div ng-show="editForm.signby.$invalid">
                <p class="help-block"
                    ng-show="editForm.signby.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="contractcloudApp.signature.signdate" for="field_signdate">Signdate</label>
                <div class="input-group">
                    <input id="field_signdate" type="text" class="form-control" name="signdate" datetime-picker="{{dateformat}}" ng-model="vm.signature.signdate" is-open="vm.datePickerOpenStatus.signdate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('signdate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
