
<div ng-if="suggestionPanel.categories.length > 0" id="accordion" class="panel panel-default" role="tablist" aria-multiselectable="true">
  <div ng-repeat="cat in suggestionPanel.categories">
    <div role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          {{cat.label}}
        </a>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
      <li >
        Do you know there is new tax 15% for {{cat.label}} from 01/2017 
      </li>
    </div>
  </div>
</div>